*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    margin: 0;
    background-color: black;
    color: white;
}

header{
    text-align: center;
    padding: 16px;
}

main{
    text-align: center;
}


@media (width > 440px ){

}

@media (width > 834px){

}
